*{
	box-sizing: border-box;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #eee;
  z-index: 1;
}

.nav1,
.nav2 {
  display: none;
}

.align {
  align-items: center;
  justify-content: center;
}

.tnw-logo {
  display: flex;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  width: 100px;
}

.tnw-logo img {
  width: 76px;
  max-height: 28px;
}

.right {
  display: flex;
  max-width: 100px;
  border: 1px solid rgb(194, 177, 177);
  text-align: center;
}

.search-img,
.menu-icon {
  width: 48px;
  height: 48px;
  display: flex;
}

.search-img img,
.menu-icon img {
  width: 20px;
  height: 20px;
}

.search-img {
  border-right: 1px solid gainsboro;
}

.nav3 {
  width: 100%;
  height: 34px;
  background-color: yellow;
  display: flex;
  font-size: 14px;
  position: fixed;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.article-1 {
  display: flex;
  padding-top: 100px;
}

.art1,
.art2,
.art3 {
  position: relative;
  width: 97%;
  height: 120px;
  margin-left: 10px;
  margin-top: 10px;
}

.art1 {
  background: url(../ressources/article-img.jpg);
}

.art2 {
  background: url(../ressources/article-image2.jpg);
}

.art3 {
  background: url(../ressources/article-image3.jpg);
}

.art1{
  padding-top: 125px;
  background: linear-gradient(180deg, rgba(177, 80, 85, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%)
}

.alt-img {
  display: none;
}

.art-contents {
  position: absolute;
  bottom: 3rem;
  margin-left: 0.5em;
}

.art-contents h2 {
  font-size: 20px;
  color: #ddd;
}

.art-foot {
  display: inline-flex;
  color: #ddd;
  align-items: center;
  justify-content: center;
}

.art-foot li{
  list-style-type: none;
  font-size: small;
}

.art-foot li img {
  width: 12px;
  height: 10px;
}

.latest-news {
  padding-left: 1.5%;
  margin-top: 1rem;
}

.latest-news a {
  display: flex;
  text-decoration: none;
  color: red;
  align-items: center;
  max-width: 97%;
}

.latest-news a p{
  padding-left: 300px;
}

.latest-news h2 {
  color: red;
  font-size: 24px;
  font-weight: bold;
}

.news1 {
  margin-top: 30px;
  display: flex;
  flex-flow: row;
}

.grid-img img {
  width: 80px;
  height: 80px;
}

.caption-img {
  margin-left: 10px;
}

.caption-img h4  {
  color: #000;
}

.caption-img p {
  color: #888;
  padding-top: 10px;
}

.article-2 {
  display: flex;
  flex-direction: column;
  padding-left: 1.5%;
  margin-top: 40px;
}

.funding-expand {
  padding-left: 1.5%;
  margin-top: 5rem;
  display: flex;
  flex-flow: column;
}

/* .grid {
  display: flex;
  flex-flow: column;
} */

.fund-cap,
.funding-bottom a{
  text-decoration: none;
}

.header-funding {
  font-size: x-large;
}

.header-funding h2 a {
  color: #f22;
  text-decoration: none;
  padding: 20px;
  line-height: 2em;
}

.funding-link a{
  text-decoration: none;
  color: #f22;
  padding-left: 20px;
}

.funding-link {
  display: flex;
  flex-flow: column;
}

.fund-grid {
  position: relative;
  margin-top: 15px;
}

/* .fund-sec-hidden {
  display: none;
} */

.red-img {
  position: absolute;
  width: 60px;
  height: 60px;
  /* z-index: 1; */
  top: 10px;
  left: 10px;
}

.red-sec {
  position: relative;
  background-color: #f42;
  width: 97%;
  height: 40px;
}

.red-sec h4 {
  color: white;
  padding: 15px 0 0 80px;
  font-size: 20px;
  font-weight: 700;
}

.below-red {
  position: relative;
  background-color: #fde7e5;
  width: 97%;
  height: 60px;
}

.below-red h4 {
  color: black;
  padding: 15px 0 0 80px;
  font-size: 20px;
  font-weight: 700;
}

.below-red h5 {
  padding: 5px 0 0 80px;
  font-size: 14px;
  color: #887c7a;
}

.funding-bottom {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 5px;
  border-bottom: 0.5px solid rgb(209, 206, 206);
}

.fund-cap {
  padding: 15px 0 5px 10px;
}

.fund-cap p {
  color: #887c7a;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-2 {
  display: flex;
  flex-flow: column;
}






.grid-3 {
  display: flex;
  flex-flow: column;
}
.atics-1 {
  margin-left: 22px;
}

.atics-1 a {
  text-decoration: none;
  color: #f22;
  font-size: x-large;
  padding: 10px 5px 5px 0px;
}

.app-img {
  padding-left:1.5% ;
  width: 96%;
  margin-top: 5px;

}

.app-img img {
  width: 95%;
}

.contents {
  color: white;
  font-size: 18px;
  font-weight: 800;
  padding-top: 10px;
  padding-right: 5px;
}

.grid-foot p a{
  font-size: small;
  color: #888;
  text-decoration: none;
}

.latest-bottom {
  display: flex;
  flex-flow: row;
  margin: 25px;
  padding-right: 20px;
}

.lateste {
  padding: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-self: center;
  
}

.lateste p, h5 {  
  color: red;
  font-size: 24px;
}

.red-img {
  padding-left: 10px;
}

/* .red-img{

} */

.red-img {
  margin: 5px 10px;
}

.right-img img {
  width: 100px;
  height: 90px;
}

.article-list {
  padding-left: 25px;
  line-height: 2em;
  
}

.article-list a li {
  font-size: 16px;
  color: #222;
  text-decoration: none;
  list-style-type: square;
  line-height: 1.6em;
  font-size: 0.6em;
}

.icons {
  display: flex;
  flex-direction: column;
  background-color: #1f1d1d;
  height: 160px;
}


.icon-list {
  display: flex;
  flex-flow: row;
  padding: 5px 10px;
}

.icon-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 12px;
  background-color: #333;
}

.icon-list li a img {
  width: 15px;
  height: 15px;
  filter: invert(100%);
}

.footer-links li {
  display: inline-flex;
  justify-content: space-between;
}

.footer-links li a {
  text-decoration: none;
  color: #ddd;
}

.bottom-footer {
  height: 125px;
  background-color: #000;
  color: #ddd;
}

.bottom-context {
  line-height: 1.5em;
  display: flex;
  flex-flow: column;
  padding: 10px 30px;
}

.bottom-context p {
  text-align: center
}

.paragraph {
  color: #eee;
  font-size: 14px;
  text-align: center;
}

.paragraph img {
  width: 30px;  
}

.starz img {
  width: 35px;
}





@media only screen and (min-width: 601px) {


.nav1 {
	background-color: #222;
  display: flex;
	width: 100%;
	height: 35px;
}

.left-nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  
}

.tnw-logo,
.right {
  display: none;
}

.nav-list {
  width: 100px;
  font-size: large;
  
}

.nav1 a {
  text-decoration: none;
  color: #ddd;
  
}

.article-1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* .Terms {
  width: 200px;
} */

.right-nav {
  padding-left: 300px;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}


.nav2 {
	display: flex;
  background-color: #eee;
  justify-content: space-around;
	color: #333;
	width: 100%;
	height: 50px;
  position: sticky;
  }

.nav2 a {
  color: #888;
  text-decoration: none;
}

.nav-right {
  display: flex;
  float: right;
  justify-content: right;
  padding-left: 200px;
  justify-items: flex-end;
  align-items: center;
}

.right-nav button {
  background-color: aquamarine;
  width: 80px;
  height: 25px;
  margin-left: 25px;
}

.search-icon img{
	width: 16px;
	height: 16px
}

.tnw-icon img {
  width: 60%;
  padding-left: 10px;
}

.nav3 {
  background-color: yellow;
  width: 100%;
  height: 20px;
}

.article-1 {
  margin-top: 0px;
}
.art1 {
  background: url(../ressources/article-img.jpg);
}

.art2 {
  background: url(../ressources/article-image2.jpg);
}

.art3 {
  background: url(../ressources/article-image3.jpg);
}

.alt-img{
  display: flex;
}

.alt-img img {
  width: 200px;
  height: 42px;
  color: #fff;
}

.art1, .art2, .art3 {
  width: 95%;
  height: 400px;
} 

.article-2 {
  display: flex;
  flex-flow: column;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

}