*{
	box-sizing: border-box;
}

.nav1 {
	background-color: #222;
  display: flex;
	width: 100%;
	height: 35px;
}

.left-nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  
}

.nav-list {
  width: 100px;
  font-size: large;
  
}

.nav1 a {
  text-decoration: none;
  color: #ddd;
  
}

/* .Terms {
  width: 200px;
} */

.right-nav {
  padding-left: 300px;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}


.nav2 {
	display: flex;
  background-color: #eee;
  justify-content: space-around;
	color: #333;
	width: 100%;
	height: 50px;
  position: sticky;
  }

.nav2 a {
  color: #888;
  text-decoration: none;
}

.nav-right {
  display: flex;
  float: right;
  justify-content: right;
  flex-end;
  padding-left: 200px;
  justify-items: flex-end;
  align-items: center;
}

.right-nav button {
  background-color: aquamarine;
  width: 80px;
  height: 25px;
  margin-left: 25px;
}

.search-icon img{
	width: 16px;
	height: 16px
}

.tnw-icon img {
  width: 60%;
  padding-left: 10px;
}

.nav3 {
  background-color: yellow;
  width: 100%;
  height: 20px;
}

.article-1 {
  margin-top: 0px;
}
.art1 {
  background: url(../ressources/article-img.jpg);
}

.art2 {
  background: url(../ressources/article-image2.jpg);
}

.art3 {
  background: url(../ressources/article-image3.jpg);
}

.alt-img{
  display: flex;
}

.alt-img img {
  width: 200px;
  height: 42px;
  color: #fff;
}

.art1, .art2, .art3 {
  width: 95%;
  height: 400px;
} 

.article-2 {
  display: flex;
  flex-flow: column;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

}


